*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.logo {
    height: 70px;
    width: 210px;
    margin-right: 50px;

}
.header {
    display: flex;
    background-color: #32c1b3;
    width: 100%;
    height: 100px;
    padding: 15px 20px;
}

.lista {
    display: flex;
}

.iconeDoCatalogo {
    margin-right: 5px;
}

.catalogo {
    display: flex;
    padding: 25px 10px;
    border-radius: 10px;
    border:  2px solid black;
}
.textoCatalogo {
    display: flex;
}
.buscar {
    padding: 25px 10px;
}
.buscarItem {

}
.entre {
    padding: 25px 10px;
    display: flex;
}
.carrinho {
    padding: 25px 10px;
    display: flex;
}
